/*Variables*/
:root{
    --blue: #00B7FF;
}

.info-content{
    height: 200px;
    width: 200px;
    background-color: var(--blue);
}

.main-content{
    height: 200px;
    width: 200px;
    background-color: var(--blue);
}

.misc-content{
    height: 200px;
    width: 200px;
    background-color: var(--blue);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

canvas{
    width: 1000px;
    height: 1000px;
    border: 1px solid #000000;
}