<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>This is lobby <%= lobbyCode %></h1>
    </body>
    <script src="javascripts/messages.js"></script>
    <script src="javascripts/lobby.js"></script>
</html>