<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="stylesheets/lobby.css">
    </head>
    <body>
        <h1>This is lobby <%= lobbyCode %></h1>
        <ul id="playerList">
        </ul>

        Invite players with this link: <button id="lobbyLink">Copy Link</button>

        <div id="chatBox">
            <ul id="chatMessageBox">
            </ul>
            <input id="chatInput" type="text">
        </div>
    </body>
    <script src="javascripts/messages.js"></script>
    <!--<script src="javascripts/lobby.js"></script>-->
    <script type="module" src="javascripts/gameManager.js"></script>
</html>